@import '../../styles/allStyles.scss';
.card {
	padding: 10px 14px;
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px 3px 1px gray;
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	font-size: $fontIndexSize;
	transition: all 0.3s ease;
	&:hover {
		transform: scale(1.1);
		cursor: pointer;
		background-color: lightblue;
		box-shadow: 4px 4px 5px 1px black;
	}
}
.deleteBtn {
	padding: $paddingDefault;
	border-radius: 8px;
	color: $white;
	background-color: lightcoral;
	transition: all 0.3s ease;
	&:hover {
		cursor: pointer;
		background-color: red;
	}
}
.italic {
	font-style: italic;
}
.completed {
	background-color: lightgreen;
}
.uncompleted {
	background-color: lightpink;
}
